In [52]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [53]:
path = 'C:/Users/u148533/heart_data_clean.csv'
dat = pd.read_csv(path)

In [54]:
dat.shape

(302, 14)

In [55]:
dat.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,1,2,125,309,0,1,131,1,1.8,1,0,3,0
1,51,0,2,120,295,0,0,157,0,0.6,2,0,2,1
2,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
3,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
4,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1

In [56]:
#create dummies for categorical variables
sex = pd.get_dummies(dat['sex'], prefix = "sex")
cp = pd.get_dummies(dat['cp'], prefix = "cp")
fbs = pd.get_dummies(dat['fbs'], prefix = "fbs")
restecg = pd.get_dummies(dat['restecg'], prefix = "restecg")
exang = pd.get_dummies(dat['exang'], prefix = "exang")
slope = pd.get_dummies(dat['slope'], prefix = "slope")
ca = pd.get_dummies(dat['ca'], prefix = "ca")
thal = pd.get_dummies(dat['thal'], prefix = "thal")

In [57]:
frames = [dat, sex, cp, fbs, restecg, exang, slope, ca, thal]

In [58]:
#create new dataset with dummies concatenated on
dat2 = pd.concat(frames, axis = 1)

In [59]:
#drop original versions of dummy variables
dat2 = dat2.drop(columns = ['sex','cp', 'fbs', 'restecg',
                                  'exang','slope','ca','thal'])

dat2.head()

,age,trestbps,chol,thalach,oldpeak,target,sex_0,sex_1,cp_0,cp_1,...,slope_1,slope_2,ca_0,ca_1,ca_2,ca_3,thal_0,thal_1,thal_2,thal_3
0,64,125,309,131,1.8,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
1,51,120,295,157,0.6,1,1,0,0,0,...,0,1,1,0,0,0,0,0,1,0
2,41,110,172,158,0.0,0,0,1,1,0,...,0,1,1,0,0,0,0,0,0,1
3,52,152,298,178,1.2,1,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
4,39,140,321,182,0.0,1,0,1,0,0,...,0,1,1,0,0,0,0,0,1,0

In [60]:
y = dat2["target"]
x = dat2.drop(["target"],axis=1).values
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=0)

In [61]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [62]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(241, 29) (241,)
(61, 29) (61,)